@charset "UTF-8";
html {
  font-size: 62.5%;
}
@media screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-family: 'Barlow', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  font-size: 1.8rem;
}

.contact {
  background-color: white;
  color: red;
}

.features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 65rem;
}
@media screen and (max-width: 59.3em) {
  .features {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}
.features__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
.features__text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 12rem;
}
@media screen and (max-width: 59.3em) {
  .features__text {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
.features__paragraph {
  font-family: 'Barlow', sans-serif;
  margin-bottom: 3.2rem;
  line-height: 1.4;
  color: #23303e;
}
.features__link {
  text-transform: uppercase;
  text-decoration: none;
  color: #23303e;
  font-weight: 800;
  font-family: 'Fraunces', serif;
  position: relative;
}
.features__link::before {
  content: '';
  position: absolute;
  bottom: -0.1rem;
  left: 0;
  width: 100%;
  height: 0.8rem;
  background-color: rgba(250, 212, 0, 0.404);
  z-index: -1;
  border-radius: 0.5rem;
  transition: 0.35s;
}
.features__link.feature-left::before {
  background-color: rgba(254, 120, 103, 0.493);
}

.grid-2 {
  grid-column: 1/2;
  grid-row: 2/3;
}

.features-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(65rem, 1fr);
}
@media screen and (max-width: 59.3em) {
  .features-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 100rem);
    height: 100%;
  }
}

.features-leftt {
  background-image: url(/images/desktop/image-graphic-design.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  padding: 12rem;
}
@media screen and (max-width: 59.3em) {
  .features-leftt {
    grid-column: 1/-1;
    grid-row: 1/2;
  }
}
@media screen and (max-width: 59.3em) {
  .features-leftt {
    background-image: url(/images/mobile/image-graphic-design.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.features-right {
  background-image: url(/images/desktop/image-photography.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  padding: 12rem;
  display: flex;
}
@media screen and (max-width: 59.3em) {
  .features-right {
    grid-column: 1/-1;
    grid-row: 2/3;
  }
}
@media screen and (max-width: 59.3em) {
  .features-right {
    background-image: url(/images/mobile/image-photography.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.features__txt {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.features__paragraph-left {
  font-size: 1.6rem;
  color: #25564b;
  word-spacing: 0.6rem;
  line-height: 1;
}

.features__heading {
  font-size: 2.8rem;
  color: #25564b;
  font-weight: 900;
  font-family: 'Fraunces', serif;
}

.right {
  color: #19536b;
}

.features__paragraph-right {
  font-size: 1.6rem;
  color: #19536b;
  word-spacing: 0.6rem;
  line-height: 1;
}

@media screen and (max-width: 59.3em) {
  .transform {
    grid-row: 1/2;
  }
  .brand {
    grid-row: 2/3;
  }
  .stand {
    grid-row: 3/4;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 4.8rem;
  background-color: #68b1a2;
}
.footer .footer__img {
  filter: invert(1) brightness(0);
  display: block;
  margin-bottom: 2rem;
}
.footer .footer__list {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 3.2rem 0 6.4rem;
}
.footer .footer__link {
  text-decoration: none;
  color: #25564b;
  font-size: 1.7rem;
  cursor: pointer;
  transition: 0.35s ease-in;
}
.footer .footer__link:hover {
  color: #fff;
}

.socials {
  display: flex;
  margin-bottom: 2rem;
  gap: 2rem;
}
.socials__img {
  transition: 0.35s ease-in;
  cursor: pointer;
}
.socials__img:hover {
  filter: brightness(0) invert(1);
}

span {
  transition: 0.35s ease-in;
  cursor: pointer;
  color: #19536b;
}
span:hover {
  color: #fff;
}

.header {
  height: 100vh;
  background-image: url(/images/desktop/image-header.jpg);
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 59.3em) {
  .header {
    background-image: url(/images/mobile/image-header.jpg);
    background-size: cover;
    background-position: center;
  }
}
.header__nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 4rem;
}
.header__links {
  color: #fff;
  text-decoration: none;
  gap: 2rem;
}
.header__nav-list {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}
.header__logo {
  cursor: pointer;
}

.contact {
  background-color: white;
  color: black;
  padding: 1.1rem 1.6rem;
  border-radius: 50px;
  font-weight: 600;
  font-family: 'Fraunces', serif;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media screen and (max-width: 59.3em) {
  .hero {
    padding-top: 15rem;
  }
}
.hero__heading {
  display: block;
  margin: 6.4rem 6.4rem 5.4rem 6.4rem;
  color: #fff;
  letter-spacing: 1.2rem;
  font-size: 4.8rem;
  font-weight: 900;
  font-family: 'Fraunces', serif;
  font-size: 5.2rem;
  text-transform: uppercase;
  text-align: center;
}
.hero__img {
  animation: bajarFlecha 1s infinite;
}

@keyframes bajarFlecha {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10px);
    /* Ajusta este valor según tus necesidades */
  }
}

.testimonials {
  display: flex;
  padding: 9.6rem;
  gap: 4rem;
}
@media screen and (max-width: 59.3em) {
  .testimonials {
    display: flex;
    flex-direction: column;
  }
}
.testimonials__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.testimonials__img {
  width: 8rem;
  border-radius: 50%;
  align-self: center;
}
.testimonials__paragraph {
  text-align: center;
  color: #19536b;
  margin-bottom: 4rem;
  line-height: 1.6;
}
.testimonials__info {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.testimonials__name {
  font-weight: 900;
  font-family: 'Fraunces', serif;
  font-size: 1.76rem;
  margin-bottom: 0.8rem;
}
.testimonials__ocupation {
  color: #19536b;
  font-size: 1.2rem;
}
@media screen and (max-width: 75em) {
  .testimonials__ocupation {
    font-size: 1.5rem;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 59.3em) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.heading-2 {
  font-size: 4.64rem;
  color: #23303e;
  margin-bottom: 2.4rem;
  font-weight: 900;
  font-family: 'Fraunces', serif;
  line-height: 1;
}
