.heading-2 {
  font-size: 4.64rem;
  color: $VeryDarkdesaturatedblue;
  margin-bottom: 2.4rem;
  font-weight: 900;
  font-family: $font-family-fraunces;
  line-height: 1;
  @media screen and (max-width: $bp-iphone14) {
    font-size: 4rem;
  }
}
